# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries used by Data Scientists
+ Creating a table of Data Science tools
+ How to use Jupyter Notebook Cells

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. VBA
5. C++
6. C#
7. Java
8. JavaScript

**Exercise 5** - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

### Python
- Pandas
- Numpy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow and Keras

### R
- dplyr
- ggplot2
- tidyr
- caret
- shiny
- data.table

**Exercise 6** - Create a markdown cell with a table of Data Science tools

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| SQL                     |
| Visual Studio           |
| Anaconda         |

**Exercise 7** - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8** - Create a code cell to multiply and add numbers

In [23]:
# In this code cell evaluate the expression
(3*4)+5

17

**Exercise 9** - Create a code cell to convert minutes to hours

In [59]:
# In this code cell write an expression that converts 200 minutes into hours.
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Exercise 10** - Insert a markdown cell to list Objectives

Done above after exercise 3

**Exercise 11** - Create a markdown cell to indicate the Author's name

## Author: 
 James Montoya Hincapie